// Reset
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure,
img {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

// Basic
html,
body {
  height: 100%;
  overflow: scroll;
  width: 100%;
}

body {
  background-color: $background-color;
  background-image: url('/images/bg_stars.gif');
  color: $text-color;
  font: $base-font-weight #{$base-font-size} / #{$base-line-height} $base-font-family;
  letter-spacing: .1em;
}

// Vertical rhythm
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

// Images
img {
  max-width: 100%;
  vertical-align: middle;
}

// Lists
li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight;
}

// Links
a {
  text-decoration: underline;

  &:visited {
    color: inherit;
  }

  &:hover {
    color: $lawngreen;
  }
}

// Wrappers
.wrapper {
  @extend %clearfix;
  @include media-query($on-laptop) {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
  }
  @include media-query($on-palm) {
    padding-top: $spacing-unit;
  }
  margin: 0 auto;
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  padding: $spacing-unit / 2 $spacing-unit 0;
  width: 100%;
}

// Clearfix
%clearfix::after {
  clear: both;
  content: '';
  display: table;
}
