//
// Tumblr content styling (home page)
//

.home {
  @include media-query($on-palm) {
    max-width: 90%;
  }
  margin: 0 auto;
  max-width: 80%;
}

.tumblr-posts {
  @include media-query($on-palm) {
    margin-left: 0;

    li {
      margin: $spacing-unit / 2;

      a {
        line-height: 2;
      }
    }
  }
  list-style: none;

  li {
    background-color: transparentize($background-color, .2);
    border-bottom: 5px solid $blue-color-dark;
    margin: $spacing-unit * 2 0;
    padding-bottom: $spacing-unit * 2;
  }
}

.tumblr-post {

  a {
    color: $pink;
    font-size: x-large;
    text-decoration: none;

    &:hover {
      color: $lawngreen;
    }
  }

  p {
    margin-bottom: 0;

    &,
    a {
      color: $text-color;
      font-size: medium;
      hyphens: auto;
      overflow-wrap: break-word;
      word-break: break-word;
      word-wrap: break-word;
    }

    a {
      text-shadow: $yellow-shadow 1px 0 10px;

      &:hover {
        color: $limegreen;
      }
    }
  }
}
