// =========
// Site header
// =========
.site-header {
  background-color: $background-color;
  border-bottom: 3px solid $maroon;
  min-height: $spacing-unit * 1.865;
  padding: 20px 0 10px;
  position: relative; // Positioning context for the mobile navigation icon
  width: 100%;
}

.site-title {
  background-color: $background-color;
  font-size: xx-large;

  &,
  &:visited {
    border: 1px solid $red;
    color: $green-color-light;
    text-decoration: none;
    text-transform: uppercase;
  }

  @include media-query($on-palm) {
    font-size: x-large;
    margin-left: 0;
  }
}

.site-nav {
  line-height: $base-line-height * $base-font-size * 1.5;
  padding-left: $spacing-unit;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    background-color: $text-color;
    color: $background-color;
    font-size: medium;
    text-decoration: underline solid $red;

    &:hover {
      color: $fuchsia;
    }

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: $spacing-unit;
    }
  }

  @include media-query($on-palm) {
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    padding-left: 0;
    position: absolute;
    right: $spacing-unit / 2;
    text-align: right;
    top: 9px;

    label {
      &[for='nav-trigger'] {
        cursor: pointer;
        display: block;
        float: right;
        height: 36px;
        width: 36px;
        z-index: 2;
      }
    }

    .menu-icon {
      display: block;
      float: right;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      width: 36px;

      > svg {
        path {
          fill: $skyblue;
        }
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;

      &:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
      }
    }

    .page-link {
      display: block;
      line-height: 2.5;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

// =========
// Site footer
// =========
.site-footer {
  @include media-query($on-palm) {
    padding: 0;
  }
  background-color: $green;
  line-height: $base-line-height * 1.1;
  padding: 0 $spacing-unit $spacing-unit / 2;
  position: relative;
  z-index: 1;

}

.footer-col-wrapper {
  @include media-query($on-palm) {
    flex-direction: column;
  }
  color: $orange;
  display: flex;
  font-size: small;
  font-weight: bold;
  justify-content: flex-start;

}

.contact-list,
.social-media-list {
  @include media-query($on-palm) {
    margin-bottom: 0;
  }
  flex: 1;
  list-style: none;
  margin-left: 0;

}

.social-media-list {
  display: flex;

  li {
    padding-right: $spacing-unit / 2;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $hotpink;
    }
  }

  @include media-query($on-palm) {
    line-height: 2.5;
    padding-bottom: $spacing-unit;
  }
}

// =========
// Page content
// =========
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.page-content {
  display: flex;
  flex: 1;
  padding-bottom: 100px;
}

.page {
  @include media-query($on-palm) {
    flex-direction: column;
  }
  display: flex;
  justify-content: space-around;
}

.page-header {
  flex: 1;
  padding-top: 20px;

  h1 {
    line-height: 1.1;
  }

  @include media-query($on-palm) {
    padding-left: 0;
  }
}

.page-gif {
  @include media-query($on-palm) {
    width: 100px;
  }
  border: 1px solid $pink;
  height: auto;
  max-width: 80%;
  min-width: 200px;
  padding: 10px;
}

// .post-title {
//   font-size: small;
//   text-transform: uppercase;
//   color: $cornflowerblue;
//   background-color: $text-color;
//   font-weight: bold;
//   display: inline-block;
//
//   @include media-query($on-laptop) {
//     @include relative-font-size(1.25);
//   }
//
//   @include media-query($on-palm) {
//     text-shadow: inherit;
//   }
// }

//
// Post content: Books, Fonograf
//
.books-content {
  display: flex;
  flex: 3;
  flex-wrap: wrap;

  p {
    &:first-child {
      align-items: center;
      display: flex;
      justify-content: center;
      padding-left: $spacing-unit;
      width: 100%;

      // books gif, fonograf logo
      img {
        max-width: 150px;
      }

      span {
        background-color: transparentize($background-color, .2);
        color: $lawngreen;
        font-size: large;
        line-height: $base-line-height * 1.2;
        margin: 0 auto;
        padding: 30px 180px 0 0;

        a {
          color: inherit;
          text-decoration: none underline;

          &:hover {
            color: $pink;
          }
        }
      }
    }

    &:last-child {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      a {
        flex: 1;
        max-width: 30vw;
        min-width: 25vw;
        padding: $spacing-unit / 2;

        img {
          border: 1px solid $fuchsia;
          height: auto;
          width: 100%;
        }
      }

      img {
        height: $spacing-unit * 3;
      }
    }
  }

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

  @include media-query($on-palm) {
    p {
      &:first-child {
        flex-direction: column;
        margin-bottom: 1px;
        padding-left: $spacing-unit / 2;
        position: inherit;

        > a {
          background-image: url('background.gif');
          text-align: center;
        }

        span {
          order: -1;
          padding: 0;
          width: 100%;
        }

        img {
          padding: 0;
          width: 60%;
        }
      }
    }

    p {
      &:last-child {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 0;
        margin-top: 0;

        a {
          &:first-child {
            margin-top: $spacing-unit;
          }
        }

        a {
          max-width: 90vw;
          min-width: 50vw;

          &:nth-child(even) {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
  }
}

//
// List content:
// Poems, Essays, Reviews, Interviews, Readings
//
.list-content {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: space-between;

  // GIF
  img {
    width: auto;
  }

  p {
    background-color: transparentize($background-color, .2);
    color: $lawngreen;
    float: left;
    font-size: large;
    line-height: 1.75;
    padding: 30px 150px 0 0;
  }

  ul {
    list-style: none;
    width: 88%;

    li {
      color: $yellow;
      font-size: large;
      line-height: $base-line-height * 1.5;

      &::before {
        color: inherit;
        content: '•';
        display: inline-block;
        width: 2em;
      }
    }

    p {
      background-color: transparentize($background-color, .2);
    }

    a {
      color: inherit;

      &:hover {
        color: $pink;
      }
    }
  }

  @include media-query($on-palm) {
    p,
    ul {
      margin-bottom: 0;
      width: auto;
    }

    p {
      padding: 20px 0 0;
    }

    ul {
      li {
        &::before {
          margin-left: 0;
        }
      }
    }

    li {
      &:last-child {
        padding-bottom: $spacing-unit;
      }
    }
  }

  @include media-query($on-laptop) {
    flex: 2;
  }
}

//
// Press content: Press, Weblogging
//
.press-content {
  display: flex;
  flex: 3;
  flex-direction: column;
  margin: 0 auto;

  h5 {
    background-color: $background-color;
    color: $skyblue;
    font-size: small;
    font-style: italic;
    letter-spacing: .2em;
    padding-top: 20px;
  }

  p {
    @include media-query($on-laptop) {
      margin-right: 0;

      img {
        display: block;
        float: right;
        padding-right: $spacing-unit;
      }
    }
    background-color: $background-color;
    color: $text-color;
    display: inline;
    font-size: large;
    margin-right: 150px;
    padding: 10px 0;
    vertical-align: middle;
  }

  a {
    color: $hotpink;

    &:hover {
      color: $lawngreen;
    }
  }
}
