// =========
// Site header
// =========
.site-header {
  background-color: $background-color;
  border-bottom: 3px solid $maroon;
  min-height: $spacing-unit * 1.865;
  padding: 20px 0 10px;
  position: relative; // Positioning context for the mobile navigation icon
  width: 100%;
}

.site-title {
  background-color: $background-color;
  font-size: xx-large;

  &,
  &:visited {
    border: 1px solid $red;
    color: $green-color-light;
    text-decoration: none;
    text-transform: uppercase;
  }

  @include media-query($on-palm) {
    font-size: x-large;
    margin-left: 0;
  }
}

.site-nav {
  line-height: $base-line-height * $base-font-size * 1.5;
  padding-left: $spacing-unit;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    background-color: $text-color;
    color: $background-color;
    font-size: medium;
    text-decoration: underline solid $red;

    &:hover {
      color: $fuchsia;
    }

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: $spacing-unit;
    }
  }

  @include media-query($on-palm) {
    background-color: $background-color;
    border: 1px solid $gray-color-light;
    border-radius: 5px;
    padding-left: 0;
    position: absolute;
    right: $spacing-unit / 2;
    text-align: right;
    top: 9px;

    label {
      &[for='nav-trigger'] {
        cursor: pointer;
        display: block;
        float: right;
        height: 36px;
        width: 36px;
        z-index: 2;
      }
    }

    .menu-icon {
      display: block;
      float: right;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      width: 36px;

      > svg {
        path {
          fill: $skyblue;
        }
      }
    }

    input {
      & ~ .trigger {
        clear: both;
        display: none;
      }

      &:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
      }
    }

    .page-link {
      display: block;
      line-height: 2.5;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

// =========
// Site footer
// =========
.site-footer {
  @include media-query($on-palm) {
    padding: 0;
  }
  background-color: $green;
  line-height: $base-line-height * 1.1;
  padding: 0 $spacing-unit $spacing-unit / 2;
  position: relative;
  z-index: 1;

}

.footer-col-wrapper {
  @include media-query($on-palm) {
    flex-direction: column;
  }
  color: $orange;
  display: flex;
  font-size: small;
  font-weight: bold;
  justify-content: flex-start;

}

.contact-list,
.social-media-list {
  @include media-query($on-palm) {
    margin-bottom: 0;
  }
  flex: 1;
  list-style: none;
  margin-left: 0;

}

.social-media-list {
  display: flex;

  li {
    padding-right: $spacing-unit / 2;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $hotpink;
    }
  }

  @include media-query($on-palm) {
    line-height: 2.5;
    padding-bottom: $spacing-unit;
  }
}

// =========
// Page content
// =========
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.page-content {
  display: flex;
  flex: 1;
  padding-bottom: 100px;
}

.page {
  @include media-query($on-palm) {
    flex-direction: column;
  }
  display: flex;
  justify-content: space-around;
}

.page-header {
  flex: 1;
  padding-top: 20px;

  h1 {
    line-height: 1.1;
  }

  @include media-query($on-palm) {
    padding-left: 0;
  }
}

.page-gif {
  @include media-query($on-palm) {
    width: 100px;
  }
  border: 1px solid $pink;
  height: auto;
  max-width: 80%;
  min-width: 200px;
  padding: 10px;
}

@import
'books',
'lists',
'press'
;
