<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <ul class="contact-list">
        <li>
          <span>© {{ 'now' | date: "%Y" }}</span>
          {{ site.title | escape }}
        </li>
				<li>jalessandrelli1 at g mail dot com</li>
      </ul>

      <ul class="social-media-list">
        <li>
          <a href="{{ site.tumblr_url }}" target="_blank">tumblr.</a>
        </li>
				<li>
					<a href="{{ site.instagram_url }}" target="_blank">instagram.</a>
				</li>
      </ul>

    </div>

  </div>

</footer>
