@charset "utf-8";

$base-font-family: Times, serif;
$base-font-size:   14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #fdfdfd;
$background-color: #111;
$text-shadow:      #FC0 5px 0 10px;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$green-color:      lawngreen;
$green-color-light: lighten($green-color, 25%);
$green-color-bright: limegreen;
$blue-color-dark: midnightblue;

$highlight-colors: mistyrose, lavender, powderblue, lemonchiffon, palegreen;

// Width of the content area
$content-width:    1400px;

$on-palm:          600px;
$on-laptop:        1000px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
