@charset 'utf-8';

$base-font-family: Times, serif;
$base-font-size:   14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * .875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$pink: #ffc0cb;
$hotpink: #ff69b4;
$fuchsia: #f0f;
$skyblue: #87ceeb;
$cornflowerblue: #6495ed;
$green: #008000;
$yellow: #ff0;
$yellow-shadow: #fc0;
$red: #f00;
$maroon: #800000;
$orange: #ffa500;
$lawngreen: #7cfc00;
$limegreen: #32cd32;

$text-color:       #fdfdfd;
$background-color: #111;
$text-shadow:      $yellow-shadow 5px 0 10px;

$gray-color:         #828282;
$gray-color-light:   lighten($gray-color, 40%);
$gray-color-dark:    darken($gray-color, 25%);
$green-color-light:  lighten($lawngreen, 25%);
$blue-color-dark:    #191970;

// Width of content
$content-width:    1200px;
$on-palm:          600px;
$on-laptop:        1000px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials
@import
'styles/base',
'styles/layout',
'styles/home'
;
